body{
    font-family: 'Lato', sans-serif;

    margin: 0;

    box-sizing: border-box;

    
}


/*cloud*/
.cloud{
    width: 100%;
    max-width: 1440px;


    color: #fff;
    
}
.cloud__fon{

    background: linear-gradient(45deg, rgba(250, 0, 0, .6), rgba(230, 0, 0, .6)), url(fon/foncloud1.jpg) center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    min-height: 782px;

}




.cloud__menu{
    display: flex;
    justify-content: space-around;

    padding-top: 40px;
}
.cloud__icon{
    font-size: 18px;
    font-weight: 700;
}
.fa{
    padding-right: 9px;
}


.cloud__link a{
    font-size: 10px;
    font-weight: 700;

    text-decoration: none;
    color: #fff;

    padding: 0 20px;
}

.cloud__btn a{
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;

    text-decoration: none;
    color: #fff;

    display: inline-block;
    border: 1px solid #fff;
    padding: 5px 18px;
    border-radius: 6px;
}


.cloud__title{
    font-size: 72px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;

    display: flex;
    justify-content: center;
    padding-top: 240px;
}

.cloud__text{
    font-size: 24px;
    font-weight: 600;

    text-align: center;
    padding-top: 40px;
}

.cloud__btn2{
    padding-top: 85px;
    text-align: center;
}
.cloud__btn2 a{
    font-size: 14px;
    font-weight: 600;

    display: inline-block;
    text-decoration: none;
    color: rgb(228, 19, 19);

    border: 1px solid #fff;
    border-radius: 7px;

    background-color: #fff;
    padding: 10px 30px;

}
